* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
	border: none;
	text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(17, 16, 16);
    
}

header {
    position: relative;
    width: 100%;
    height: 500px;
    /* border: 1px solid #fff; */
    background: url('/img/121213.jpg') no-repeat center center/cover;
    transition: 1s linear;
    z-index: 2;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgb(17, 16, 16), transparent);
    bottom: 0;
    left: 0;
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, rgb(17, 16, 16), transparent);
    top: 0;
    left: 0;
    z-index: -1;
}

header nav {
    width: 100%;
    height: 10%;
    border-bottom: 1.3px solid rgb(255, 255, 255, .1);
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo,
.end_bx {
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
}

header nav .logo img {
    width: 100px;
}

header nav .end_bx ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav .end_bx ul li {
    margin: 0px 30px;
    position: relative;
}

header nav .end_bx ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .7);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    transition: .3s linear;
}

header nav .end_bx ul li:nth-child(4) {
    color: rgb(255, 255, 255, .7);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    transition: .3s linear;
    cursor: pointer;
}

header nav .end_bx ul li:nth-child(4):hover {
    color: #fff;
}

header nav .end_bx ul li a:hover {
    color: #fff;
}

header nav .end_bx ul li:nth-child(4) .fas {
    font-size: 12px;
    margin: 2px 0px 0px 3px;
    transition: .3s linear;
}

header nav .end_bx ul li:nth-child(4):hover .fas {
    transform: rotate(180deg);
}


/* nav other list start  */

header nav .end_bx ul li .list {
    position: absolute;
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 30px;
    z-index: 1;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
}

header nav .end_bx ul li:hover .list {
    opacity: 1;
    visibility: visible;
}

header nav .end_bx ul li .list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: -1;
}

header nav .end_bx ul li .list::after {
    content: '';
    position: absolute;
    border-left: 15px solid rgb(184, 184, 184, .1);
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    backdrop-filter: blur(5px);
    top: -1px;
    left: 20px;
    transform: rotate(45deg);
    z-index: -1;
}

header nav .end_bx ul li .list a {
    text-decoration: none;
    color: rgb(255, 255, 255, .7);
    padding: 10px 0px 10px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    transition: .3s linear;
}

header nav .end_bx ul li .list a:hover {
    color: #fff;
}


/* nav other list end  */

header nav .end_bx .search {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}

header nav .end_bx .search input {
    padding: 3px 0px 3px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    transition: 1s linear;
    -webkit-transition: 1s linear;
    width: 0px;
}

header nav .end_bx .search i {
    color: rgb(255, 255, 255, .7);
    font-size: 13px;
    cursor: pointer;
    transition: .4s linear;
}

header nav .end_bx .search i:hover {
    color: #fff;
}

header nav .end_bx .search .search_bx2 {
    position: absolute;
    width: 200px;
    height: 300px;
    /* border: 1px solid #fff; */
    top: 35px;
    left: -10px;
    background: rgb(184, 184, 184, .3);
    border-radius: 10px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;
}

header nav .end_bx .search .search_bx2::-webkit-scrollbar {
    width: 7px;
    background: rgb(184, 184, 184, .3);
    border-radius: 20px;
}

header nav .end_bx .search .search_bx2::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184, .7);
    border-radius: 20px;
}

header nav .end_bx .search .search_bx2 a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 50px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header nav .end_bx .search .search_bx2 a:hover {
    background: rgb(184, 184, 184, .6);
}

header nav .end_bx .search .search_bx2 a img {
    width: 30px;
    height: 45px;
    border-radius: 5px;
    margin: 0px 5px;
}

/*  */

header nav .end_bx .sub-menu-wrap {
    position: absolute;
    top: 9%;
    right: 4.5%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

header nav .end_bx .sub-menu-wrap.open-menu{
    max-height: 320px;
}


header nav .end_bx .sub-menu {
    background: rgba(32, 32, 32, 0.9);
    padding: 20px;
    margin: 5px;
}

header nav .end_bx .user-info {
    display: flex;
    align-items: center;
}

header nav .end_bx .user-info h2 {
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 255, 255, .7);
}

header nav .end_bx .user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

header nav .end_bx .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(255, 255, 255, .1);
    margin: 15px 0 10px;
}

header nav .end_bx .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255, .7);
    margin: 10px 0;
}

header nav .end_bx .sub-menu-link p {
    font-size: 12px;
    width: 100%;
}

header nav .end_bx .sub-menu-link img {
    width: 35px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}

header nav .end_bx .sub-menu-link span {
    font-size: 12px;
    transition: transform 0.5s;
}

header nav .end_bx .sub-menu-link:hover span {
    transform: translateX(5px);
}

header nav .end_bx .sub-menu-link:hover p {
    font-weight: 600;
    color: #fff;
}
/*  */

header nav .end_bx .search .search_bx2 a .content2 {
    color: #fff;
}

header nav .end_bx .search .search_bx2 a .content2 h6 {
    font-size: 13px;
}

header nav .end_bx .search .search_bx2 a .content2 p {
    color: rgb(255, 255, 255, .7);
    font-size: 11px;
    font-weight: 500;
}


/* javascript classes start  */

header nav .end_bx .search .search_input {
    width: 180px;
}


/* javascript classes end  */

header nav .end_bx .bell {
    color: rgb(255, 255, 255, .7);
    font-size: 13px;
    cursor: pointer;
    transition: .3s linear;
    margin: 0px 35px;
}

header nav .end_bx .bell:hover {
    color: #fff;
}

header nav .end_bx .user {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}

header nav .end_bx .user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}


header .content {
    width: 77%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: 70px auto 0px auto;
}

header .content h6 {
    color: #fff;
    font-size: 13px;
    transition: 1s linear;
}

header .content h6 span {
    color: rgb(255, 255, 255, .8);
}

header .content h3 {
    color: rgb(255, 255, 255, .8);
    font-size: 15px;
    margin: 10px 0px;
    transition: 1s linear;
}

header .content h3 i {
    color: rgb(255, 255, 0);
    font-size: 12px;
    margin-right: 3px;
}

header .content h3 span {
    font-size: 12px;
    margin-left: 3px;
    transition: 1s linear;
}

header .content h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #fff;
    transition: 1s linear;
}

header .content p {
    width: 500px;
    word-break: break-all;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    transition: 1s linear;
}

header .content .btns {
    display: flex;
    align-items: center;
}

header .content .btns button {
    padding: 6px 12px;
    border-radius: 20px;
    background: red;
    border: 2px solid red;
    color: #fff;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0px 3px 10px red;
    transition: .3s linear;
    cursor: pointer;
    z-index: 999;
}


header .content .btns button:nth-child(2) {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0px 3px 10px #000;
}

header .content .btns button:nth-child(3) {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0px 3px 10px #000;
}

header .content .btns button:hover {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0px 3px 10px #000;
}

header .content .btns button:nth-child(2):hover {
    background: red;
    border: 2px solid red;
    color: #fff;
    box-shadow: 0px 3px 10px red;
}

header .content .btns button:nth-child(3):hover {
    background: red;
    border: 2px solid red;
    color: #fff;
    box-shadow: 0px 3px 10px red;
}

header .content .btns button .fas {
    margin-right: 5px;
}

/* */

header nav .btns {
    display: flex;
    align-items: center;
}

header nav .btns button {
    padding: 6px 12px;
    border-radius: 20px;
    background: rgb(218, 25, 25);
    border: 2px solid rgb(218, 25, 25);
    color: #fff;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    /* box-shadow: 0px 3px 10px rgb(218, 25, 25); */
    transition: .4s linear;
    cursor: pointer;
    z-index: 999;
}



header nav .btns button:hover {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0px 3px 10px #000;
}

/*  */

/*  */



header .slider_btns {
    position: absolute;
    width: 300px;
    height: 50px;
    /* border: 1px solid #fff; */
    bottom: 0;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .slider_btns div {
    width: 30px;
    height: 3px;
    margin-right: 5px;
    transition: 1s linear;
    background: rgb(184, 184, 184, .1);
}

header .slider_btns h6:nth-child(1) {
    background: #fff;
}

.tranding_bx {
    width: 90%;
    height: auto;
    border-bottom: 2px solid rgb(184, 184, 184, .1);
    margin: auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .tranding_bx li {
    list-style: none;
    transition: .3s linear;
} */

.tranding_bx a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255, .7);
    font-size: 13px;
    /* transition: 0.3 linear; */
    list-style: none;
}

.tranding_bx  a:hover {
    color: #fff;
}

.tranding_bx  .fas {
    margin-right: 5px;
}

.tranding_bx  a span {
    position: absolute;
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    bottom: -10px;
    left: 45%;
}


/* tranding box active classes start  */

.tranding_bx  .active {
    font-size: 15px;
    color: #fff;
}

.tranding_bx .active span {
    background: red;
}


/* tranding box active classes end    */


/* category box start  */

.cato_bx {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 0px;
    overflow: auto;
    scroll-behavior: smooth;
    z-index: 999;
}

.cato_bx::-webkit-scrollbar {
    display: none;
}

.cato_bx button {
    padding: 4px 30px;
    background: red;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.cato_bx button:hover {
    background: rgb(184, 184, 184, .1);
}

.cato_bx .cato_left_right {
    position: sticky;
    right: 1.5%;
    color: #fff;
    cursor: pointer;
}

.cato_bx .cato_left_right:nth-last-child(1) {
    right: 0%;
}

.cato_bx .cato_left_right i {
    transform: rotate(90deg);
    transition: .3s linear;
}

.cato_bx .cato_left_right:nth-last-child(1) i {
    transform: rotate(-90deg);
}


/* cato button java class start  */

.cato_bx .cato_button_active {
    background: rgb(184, 184, 184, .2);
}


/* cato button java class end */

.movie_bx_1 {
    /* position: relative; */
    width: 100%;
    height: 260px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.movie_bx_1::-webkit-scrollbar {
    display: none;
}


/* movie extra box  */

.movie_bx_1 {
    /* position: relative; */
    width: 100%;
    height: 260px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.movie_bx_1::-webkit-scrollbar{
  display: none;
}

.movie_bx_1 .card {
    min-width: 140px;
    height: 250px;
    /* border: 1px solid #fff; */
    margin: 0px 7px;
}

.movie_bx_1 .card:nth-last-child(1) {
    margin: 0px 5px 0px 0px;
}

.movie_bx_1 .card a {
    text-decoration: none;
    color: #fff;
}

.movie_bx_1 .card a img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
}

.movie_bx_1 .card a .content {
    width: 100%;
    height: 15%;
    /* border: 1px solid #fff; */
    margin-top: 5px;
}

.movie_bx_1 .card a .content h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}

.movie_bx_1 .card a .content .metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie_bx_1 .card a .content .metadata span {
    color: rgb(255, 255, 255, .6);
    /* font-weight: lighter; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}

.movie_bx_1 .card a .content .metadata .rate {
    display: flex;
    align-items: center;
}

.movie_bx_1 .card a .content .metadata .rate .fas {
    margin-right: 7px;
    font-size: 9px;
    color: rgb(255, 255, 255, .5);
}

.movie_bx_1 .card a .content .metadata .rate .fas:nth-last-child(2) {
    color: yellow;
    margin: 1px;
}

.movie_bx_1 .card a .content .metadata .rate span {
    color: yellow;
    margin-top: -1px;
    font-size: 11px;
    height: 15px;
}

.movie_bx_1 button {
    position: absolute;
    border: none;
    outline: none;
    color: #fff;
    background: none;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

.movie_bx_1 button::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255, .5);
    border-radius: 50%;
    left: -5px;
    top: -1px;
    z-index: -1;
    transition: .3s linear;
}

.movie_bx_1 button:hover::before {
    background: rgb(255, 0, 0, .5);
}

.movie_bx_1 button:nth-child(2) {
    left: 98%;
}

.movie_bx_1 button:nth-child(1) i {
    transform: rotate(90deg);
}

.movie_bx_1 button:nth-child(2) i {
    transform: rotate(-90deg);
}

.movie_bx_1 button:nth-child(2)::before {
    left: -7px;
    top: -1px;
}


.movie_bx_2 {
    width: 90%;
    height: auto;
    margin: auto;
    overflow: unset;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 20px 0px;
    align-items: center;
    display: flex;
}

.movie_bx_2 .card {
    width: 140px;
    height: 250px;
    /* border: 1px solid #fff; */
    margin: 7px 7px;
}



.cato_bx2 {
    position: relative;
    overflow: visible;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.cato_bx2 .left_cato button:nth-child(1) {
    background: none;
}

.cato_bx2 .left_cato button i {
    margin-left: 10px;
    transition: .3s linear;
}

.cato_bx2 .left_cato button:nth-child(4),
button:nth-child(5) {
    padding: 4px 15px;
    position: relative;
    background: rgb(184, 184, 184, .1);
}

.cato_bx2 .right_cato {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cato_bx2 .right_cato i {
    color: yellow;
    font-size: 13px;
    margin-right: 5px;
}

.cato_bx2 .right_cato input[type="range"] {
    appearance: none;
    background: red;
    border-radius: 20px;
    height: 7px;
}

.cato_bx2 .right_cato input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cato_bx2 .right_cato span {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}

.cato_bx2 button .year_bx {
    position: absolute;
    width: 80px;
    height: 150px;
    /* border: 1px solid #fff; */
    background: rgb(8, 8, 8, .7);
    border-radius: 10px 3px 3px 10px;
    top: 35px;
    left: 0;
    z-index: 999;
    overflow: auto;
    transition: 1s linear;
    display: none;
}

.cato_bx2 button .year_bx::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

.cato_bx2 button .year_bx::-webkit-scrollbar-track {
    background: rgb(184, 184, 184, .4);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.cato_bx2 button .year_bx::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 20px;
}

.cato_bx2 button .year_bx div {
    list-style-type: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    color: #fff;
    transition: .3s linear;
}

.cato_bx2 button .year_bx div:hover {
    color: red;
}

.cato_bx2 button .letter_bx {
    width: 40px;
}

.cato_bx2 button .letter_bx div {
    font-size: 16px;
    font-weight: 600;
}


/* javascript classes start  */

.cato_bx2 .show_year1 .year_bx {
    display: unset;
}

.cato_bx2 .show_year1 i {
    transform: rotate(180deg);
}

.cato_bx2 .show_a_z1 .year_bx {
    display: unset;
}

.cato_bx2 .show_a_z1 i {
    transform: rotate(180deg);
}

.cato_bx2 button .year_bx .li_change {
    color: red;
}


/* javascript classes end*/

/* PlayerWindow */

/* .container {
    min-height: 100%;
    width: 100%;
}

.container .video {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .video .video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
    z-index: 10;
}

.container .video .video_container .info {
    background: #f5f2f2;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.container .video .video_container .info p {
    color: #555050;
}

.container .video .video_container .info .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .video .video_container .info .icons a {
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.4em;
    margin-right: 10px;
    box-shadow: 0.2rem 0.2rem 1rem rgb(51, 51, 51 0.2);
    transition: 0.5s ease;
}

.container .video .video_container .info .icons a:hover {
    background: #333;
    color: #fff;

}

 */

 