@charset "UTF-8";
/**  
    *! CNTRL+K after CNTRL+F редагування коду автоматичне 
    *! CNTRL+` вибірка классів з html коду
    *! Shift + Alt + ↓ / ↑ копіювати стрічку
    *! Ctrl + Shift + \  перейти до парної стрічки
    *! Ctrl + Shift + число ставить маркер
    *! Ctrl + K + Ctrl + t select color theme
    *! Shift + Alt +2 life server preview
    *! Ctrl +Alt + 2
	 *!Ctrl +Alt + ↓ / ↑ + писати одночасно в різних строчках
	 *!For translate text = Select area +Shift + Alt + T
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:nover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-image: url("/img/Log In.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.bodyLog {
  position: absolute;
  width: 757px;
  height: 900px;
  left: calc(50% - 378.5px + 0.5px);
  top: calc(50% - 434.5px + 0.5px);
  background: linear-gradient(162.89deg, #d9d9d9 1.01%, rgba(217, 217, 217, 0.517708) 1.02%, rgba(217, 217, 217, 0.517708) 52.06%, rgba(217, 217, 217, 0) 106.87%);
  -webkit-backdrop-filter: blur(9.5px);
  backdrop-filter: blur(9.5px);
  border-radius: 39px;
}

.h1 {
  position: absolute;
  width: 405px;
  height: 49px;
  left: calc(50% - 202.5px + 0.5px);
  top: calc(50% - 24.5px - 332.5px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.02%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 123.02%;
  color: #fffbfb;
}
.text .email {
  position: absolute;
  width: 324px;
  height: 45px;
  left: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  top: 150px;
}
.text .password {
  position: absolute;
  width: 324px;
  height: 45px;
  left: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  top: 300px;
}
.text .confirmPassword {
  position: absolute;
  width: 324px;
  height: 45px;
  left: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  top: 450px;
}

.setDiv .inputDivEmail {
  position: absolute;
  width: 608px;
  height: 77px;
  left: 74px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.39);
  border: 1px solid #ffffff;
  border-radius: 19px;
  top: 200px;
}
.setDiv .inputDivPassworld {
  position: absolute;
  width: 608px;
  height: 77px;
  left: 74px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.39);
  border: 1px solid #ffffff;
  border-radius: 19px;
  top: 350px;
}
.setDiv .inputDivConfirmPassworld {
  position: absolute;
  width: 608px;
  height: 77px;
  left: 74px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.39);
  border: 1px solid #ffffff;
  border-radius: 19px;
  top: 500px;
}

.input {
  position: absolute;
  width: 385px;
  height: 33px;
  left: 20px;
  top: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.input input {
  background: transparent;
  font-size: 27px;
}

.sign {
  position: absolute;
  width: 608px;
  height: 77px;
  left: 72px;
  top: 615px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 123.02%;
  background: linear-gradient(90.54deg, #4c0c73 1.59%, rgba(0, 0, 0, 0.48) 114.48%);
  border-radius: 31px;
  color: #ffffff;
}

.logG {
  position: absolute;
  width: 608px;
  height: 77px;
  left: calc(50% - 304px);
  top: calc(50% - 38.5px + 300.5px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 123.02%;
  color: #ffffff;
  background: #000000;
  border-radius: 31px;
}

.singUp {
  position: absolute;
  width: 424px;
  height: 35px;
  left: calc(50% - 212px);
  top: calc(50% - 15.5px + 625.5px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 123.02%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fffbfb;
}

.logIn {
  position: absolute;
  width: 400px;
  height: 31px;
  left: calc(50% - 114px - 90px);
  top: calc(50% - 15.5px + 412.5px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 123.02%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fffbfb;
}