@import 'Null.scss';

body {
	position: absolute;
	background-size: cover;
	background-image: url(/img/Log\ In.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.bodyLog {
	position: absolute;
	width: 757px;
	height: 869px;
	left: calc(50% - 378.5px + 0.5px);
	top: calc(50% - 434.5px + 0.5px);
	background: linear-gradient( 162.89deg, #d9d9d9 1.01%, rgba(217, 217, 217, 0.517708) 1.02%, rgba(217, 217, 217, 0.517708) 52.06%, rgba(217, 217, 217, 0) 106.87% );
	-webkit-backdrop-filter: blur(9.5px);
	backdrop-filter: blur(9.5px);
	border-radius: 39px;
}
.h1 {
	position: absolute;
	width: 405px;
	height: 49px;
	left: calc(50% - 202.5px + 0.5px);
	top: calc(50% - 24.5px - 332.5px);
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 123.02%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: #ffffff;
}
.text {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 123.02%;
	color: #fffbfb;
	.email {
		position: absolute;
		width: 224px;
		height: 45px;
		left: 74px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		top: 150px;
	}
	.password {
		position: absolute;
		width: 224px;
		height: 45px;
		left: 74px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		top: 300px;
	}
}
.setDiv {
	.inputDivEmail {
		position: absolute;
		width: 608px;
		height: 77px;
		left: 74px;
		display: flex;
		align-items: center;
		background: rgba(255, 255, 255, 0.39);
		border: 1px solid #ffffff;
		border-radius: 19px;
		top: 200px;
	}
	.inputDivPassworld {
		position: absolute;
		width: 608px;
		height: 77px;
		left: 74px;
		display: flex;
		align-items: center;
		background: rgba(255, 255, 255, 0.39);
		border: 1px solid #ffffff;
		border-radius: 19px;
		top: 350px;
	}
}
.input {
	position: absolute;
	width: 385px;
	height: 33px;
	left: 20px;
	top: 22px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	input {
		background: transparent;
		font-size: 27px;
	}
}
.log {
	position: absolute;
	width: 608px;
	height: 77px;
	left: 72px;
	top: 500px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 29px;
	line-height: 123.02%;
	background: linear-gradient(90.54deg, #4c0c73 1.59%, rgba(0, 0, 0, 0.48) 114.48%);
	border-radius: 31px;
	color: #ffffff;
}
.logG {
	position: absolute;
	width: 608px;
	height: 77px;
	left: calc(50% - 304px);
	top: calc(50% - 38.5px + 245.5px);
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 29px;
	line-height: 123.02%;
	color: #ffffff;
	background: #000000;
	border-radius: 31px;
}
.singUp {
	position: absolute;
	width: 424px;
	height: 31px;
	left: calc(50% - 212px);
	top: calc(50% - 15.5px + 325.5px);
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 123.02%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: #fffbfb;
}
.forget {
	position: absolute;
	width: 228px;
	height: 31px;
	left: calc(50% - 114px);
	top: calc(50% - 15.5px + 382.5px);
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 123.02%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: #fffbfb;
}
