@import 'Null.scss';

body {
  position: absolute;
  background-size: cover;
  background-image: url(/img/Log\ In.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bodyLog {
  position: absolute;
  width: 757px;
  height: 869px;
  left: calc(50% - 757px / 2 + 0.5px);
  top: calc(50% - 869px / 2 + 0.5px);

  background: linear-gradient(
    162.89deg,
    #d9d9d9 1.01%,
    rgba(217, 217, 217, 0.517708) 1.02%,
    rgba(217, 217, 217, 0.517708) 52.06%,
    rgba(217, 217, 217, 0) 106.87%
  );
  backdrop-filter: blur(9.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 39px;
}

.h1 {
  /* WELCOME BACK */

  position: absolute;
  width: 405px;
  height: 49px;
  left: calc(50% - 405px / 2 + 0.5px);
  top: calc(50% - 49px / 2 - 332.5px);

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.02%;
  /* or 59px */

  display: flex;
  justify-content: center;
  align-items: flex-end;

  color: #ffffff;
}
@mixin input-field {
  position: absolute;
  width: 224px;
  height: 45px;
  left: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.text {
  .email {
    /* Email */
    @include input-field;
    top: 150px;
  }

  .password {
    /* Password */
    @include input-field;
    top: 300px;
  }

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 123.02%;
  color: #fffbfb;
}

$main-color: rgba(255, 255, 255, 0.39);

@mixin input-box {
  position: absolute;
  width: 608px;
  height: 77px;
  left: 74px;

  display: flex;
  align-items: center;
  background: $main-color;
  border: 1px solid #ffffff;
  border-radius: 19px;
}

.setDiv {
  .inputDivEmail {
    @include input-box;
    top: 200px;
  }
  .inputDivPassworld {
    @include input-box;
    top: 350px;
  }
}
$input-width: 385px;
$input-height: 33px;

.input {
  position: absolute;
  width: $input-width;
  height: $input-height;
  left: 20px;
  top: 22px;
  font: {
    family: 'Inter';
    style: normal;
    weight: 400;
    size: 27px;
    line-height: 123.02%;
  }
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  input {
    background: transparent;
    font-size: 27px;
  }
}
.log {
  position: absolute;
  width: 608px;
  height: 77px;
  left: 72px;
  top: 500px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 123.02%;

  background: linear-gradient(
    90.54deg,
    #4c0c73 1.59%,
    rgba(0, 0, 0, 0.48) 114.48%
  );
  border-radius: 31px;
  color: #ffffff;
}
.logG {
  /* Rectangle 19 */

  position: absolute;
  width: 608px;
  height: 77px;
  left: calc(50% - 608px / 2);
  top: calc(50% - 77px / 2 + 245.5px);

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 123.02%;
  color: #ffffff;
  background: #000000;
  border-radius: 31px;
}
.singUp {
  /* Don’t have an account? Sign Up. */

  position: absolute;
  width: 424px;
  height: 31px;
  left: calc(50% - 424px / 2);
  top: calc(50% - 31px / 2 + 325.5px);

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 123.02%;
  /* or 33px */

  display: flex;
  justify-content: center;
  align-items: flex-end;

  color: #fffbfb;
}
.forget {
  /* Forgot password? */

  position: absolute;
  width: 228px;
  height: 31px;
  left: calc(50% - 228px / 2);
  top: calc(50% - 31px / 2 + 382.5px);

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 123.02%;
  /* or 33px */

  display: flex;
  justify-content: center;
  align-items: flex-end;

  color: #fffbfb;
}
