.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}

.movie-card {
    --scale: 0.8;
    cursor: pointer;
}

.movie-card .card-head {
    position: relative;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.movie-card:hover .card-img {
    transform: scale(1.1);
}

.movie-card .card-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
}

.movie-card:hover .card-overlay {
    opacity: 1;
}

.movie-card .bookmark,
.movie-card .rating {
    position: absolute;
    top: 15px;
    padding: 6px;
    border-radius: 10px;
    color: #fff;
    transform: scale(var(--scale));
}

.movie-card .bookmark {
    /* background: blue; */
    left: 15px;
}

.movie-card .bookmark:hover {
    color: yellow;
}

.movie-card .rating {
    color: yellow;
    display: flex;
    align-items: center;
    right: 15px;
    background: hsla(218, 39%, 14%, 0.8);
}

/* .movie-card .rating ion-icon {
    color: yellow;
} */

.movie-card .rating span {
    color: yellow;
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
}

.movie-card ion-icon {
    font-size: 16px;
    display: block;
    --ionicon-stroke-width: 50px;
}

.movie-card .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
}

.movie-card .play ion-icon {
    font-size: 60px;
    --ionicon-stroke-width: 20px;
}

.movie-card .play ion-icon:hover {
    color: red;
}

.movie-card:hover :is(.bookmark, .rating, .play) {
    --scale: 1;
}

.movie-card .card-title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

/* .movie-card:hover .card-title {
    color: #fff;
} */

.movie-card .card-info {
    display: flex;
    font-size: 12px;
    font-weight: 500;
}

.movie-card .genre {
    margin-right: 8px;
}