.chat {
    background: rgb(54, 50, 50, 0.7);
    position: absolute;
    right: 100px;
    top: 10.3%;
    height: 83.5%;
    width: 420px;
    border-radius: 0 0 5px 5px;
    color: white;
    text-align: center;
    font-size: 24px;
}

.group {
    background: rgb(54, 50, 50, 0.5);
    position: absolute;
    top: 10%;
    right: 0;
    height: 83.5%;
    width: 2.5%;
    border-radius: 10px 0 0 10px;
}

.circle {
    background: red;
    position: absolute;
    z-index: 1;
    top: 12%;
    right: 0.25%;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.name {
    color: white;
    margin-top: 1%;
    position: absolute;
    top: 77.4%;
    left: 6.5%;
    outline: 0;
}

.like {
    font-size: 23px;
    color: red;
    margin-top: 1%;
    position: absolute;
    top: 77.4%;
    right: 44.5%;
    outline: 1px;
}

.input-chat {
    background: rgb(54, 50, 50, 1);
    padding: 0.5%;
    position: absolute;
    right: 100px;
    top: 88.3%;
    height: 5.5%;
    width: 420px;
    color: white;
    text-align: start;
    font-size: 24px;
    border-radius: 0 0 5px 5px;
}

.num {
    color: white;
    margin-top: 1%;
    position: absolute;
    top: 77.4%;
    right: 40.5%;
    outline: 0;
}