* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}


html::-webkit-scrollbar-thumb {
    background-color: red;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar {
    width: 5px;
}

body {
    font-family: "Poppins", sans-serif;
    background: rgb(17, 16, 16);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 0 5%;
    background: rgb(54, 50, 50, 0.7);
    display: flex;
    align-items: center;
    z-index: 9999;
    justify-content: space-between;
    transition: 0.6s;
}

header.sticky {
    background: rgb(17 16 16);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo img {
    width: 50%;
}

.navbar a {
    position: relative;
    font-weight: 500;
    margin-right: 3.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: 0.3s linear;
}

.navbar a:hover {
    color: #fff;
}

.navbar a.active::before {
    content: "";
    position: absolute;
    left: -5px;
    bottom: -13px;
    width: 120%;
    height: 3px;
    background-color: rgb(226, 8, 8);
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}

.search input {
    padding: 3px 0 3px 2px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    transition: 0.5s linear;
    width: 0;
}

.search i {
    color: rgb(255, 255, 255, 0.7);
    font-size: 17px;
    cursor: pointer;
    transition: 0.4s linear;
}

.search i:hover {
    color: #fff;
}

.search .search_bx2 {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 35px;
    left: -10px;
    background: rgb(184, 184, 184, 0.3);
    border-radius: 10px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
}

.search .search_bx2::-webkit-scrollbar {
    width: 7px;
    background: rgb(184, 184, 184, 0.3);
    border-radius: 20px;
}

.search .search_bx2::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184, 0.7);
    border-radius: 20px;
}

.search .search_bx2 a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
}

.search .search_bx2 a:hover {
    background: rgb(184, 184, 184, 0.6);
}

.search .search_bx2 a img {
    width: 30px;
    height: 45px;
    border-radius: 5px;
    margin: 0 5px;
}

/*  */

.sub-menu-wrap {
    position: absolute;
    top: 45px;
    right: 4.5%;
    width: 220px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 280px;
}

.sub-menu {
    background: rgba(32, 32, 32, 0.9);
    padding: 20px;
    margin: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h2 {
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 255, 255, 0.7);
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(255, 255, 255, 0.1);
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
    margin: 10px 0;
}

.sub-menu-link p {
    font-size: 12px;
    width: 100%;
}

.sub-menu-link img {
    width: 35px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 12px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
    color: #fff;
}

/*  */

.search .search_bx2 a .content2 {
    color: #fff;
}

.search .search_bx2 a .content2 h6 {
    font-size: 13px;
}

.search .search_bx2 a .content2 p {
    color: rgb(255, 255, 255, 0.7);
    font-size: 11px;
    font-weight: 500;
}

/* javascript classes start  */

.search .search_input {
    width: 180px;
}

/* javascript classes end  */

.bell {
    color: rgb(255, 255, 255, 0.7);
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s linear;
    margin: 0 35px;
}

.bell:hover {
    color: #fff;
}

.user {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgb(17, 16, 16), transparent);
    bottom: 0;
    left: 0;
    z-index: -1;
}

main::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, rgb(17, 16, 16), transparent);
    top: 0;
    left: 0;
    z-index: -1;
}

main {
    position: relative;
    width: 100%;
    height: 500px;
    background: url("../img/121213.jpg") no-repeat center center/cover;
    transition: 1s linear;
    z-index: 2;
    display: flex;
    align-items: center;
}

.content {
    width: 77%;
    height: auto;
    margin: 0 auto 0 auto;
}

.content h6 {
    color: #fff;
    font-size: 13px;
    transition: 1s linear;
}

.content h6 span {
    color: rgb(255, 255, 255, 0.8);
}

.content h3 {
    color: rgb(255, 255, 255, 0.8);
    font-size: 15px;
    margin: 10px 0;
    transition: 1s linear;
}

.content h3 i {
    color: rgb(255, 255, 0);
    font-size: 12px;
    margin-right: 3px;
}

.content h3 span {
    font-size: 12px;
    margin-left: 3px;
    transition: 1s linear;
}

.content h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #fff;
    transition: 1s linear;
}

.content p {
    width: 500px;
    word-break: break-all;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    transition: 1s linear;
}

.content .btns {
    display: flex;
    align-items: center;
}

.content .btns button {
    padding: 6px 12px;
    border-radius: 20px;
    background: red;
    border: 2px solid red;
    color: #fff;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 3px 10px red;
    transition: 0.3s linear;
    cursor: pointer;
    z-index: 999;
}

.content .btns button:nth-child(2) {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 10px #000;
}

.content .btns button:nth-child(3) {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 10px #000;
}

.content .btns button:hover {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 10px #000;
}

.content .btns button:nth-child(2):hover {
    background: red;
    border: 2px solid red;
    color: #fff;
    box-shadow: 0 3px 10px red;
}

.content .btns button:nth-child(3):hover {
    background: red;
    border: 2px solid red;
    color: #fff;
    box-shadow: 0 3px 10px red;
}

.content .btns button .fas {
    margin-right: 5px;
}

/* */

.btns {
    display: flex;
    align-items: center;
}

.btns button {
    padding: 6px 12px;
    border-radius: 20px;
    background: rgb(218, 25, 25);
    border: 2px solid rgb(218, 25, 25);
    color: #fff;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    transition: 0.4s linear;
    cursor: pointer;
    z-index: 999;
}

.btns button:hover {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 10px #000;
}

.slider_btns {
    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 0;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_btns div {
    width: 30px;
    height: 3px;
    margin-right: 5px;
    transition: 1s linear;
    background: rgb(184, 184, 184, 0.1);
}

.slider_btns h6:nth-child(1) {
    background: #fff;
}

.tranding_bx {
    width: 90%;
    height: auto;
    border-bottom: 2px solid rgb(184, 184, 184, 0.1);
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tranding_bx a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
    font-size: 13px;
    list-style: none;
}

.tranding_bx a:hover {
    color: #fff;
}

.tranding_bx .fas {
    margin-right: 5px;
}

.tranding_bx a span {
    position: absolute;
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    bottom: -10px;
    left: 45%;
}

/* tranding box active classes start  */

.tranding_bx .active {
    font-size: 15px;
    color: #fff;
}

.tranding_bx .active span {
    background: red;
}

/* tranding box active classes end    */

/* category box start  */

.cato_bx {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 0;
    overflow: auto;
    scroll-behavior: smooth;
    z-index: 999;
}

.cato_bx::-webkit-scrollbar {
    display: none;
}

.cato_bx button {
    padding: 4px 30px;
    background: red;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s linear;
}

.cato_bx button:hover {
    background: rgb(184, 184, 184, 0.1);
}

.cato_bx .cato_left_right {
    position: sticky;
    right: 1.5%;
    color: #fff;
    cursor: pointer;
}

.cato_bx .cato_left_right:nth-last-child(1) {
    right: 0;
}

.cato_bx .cato_left_right i {
    transform: rotate(90deg);
    transition: 0.3s linear;
}

.cato_bx .cato_left_right:nth-last-child(1) i {
    transform: rotate(-90deg);
}

/* cato button java class start  */

.cato_bx .cato_button_active {
    background: rgb(184, 184, 184, 0.2);
}

/* cato button java class end */


/* movie extra box  */

.movie_bx_1 {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.movie_bx_1::-webkit-scrollbar {
    display: none;
}

/* Category */
.movie_bx_1 .movie_bxx {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}

/* movies box js */

.movie_bx_1 .movie_box_active {
    display: none;
}


.movie_bx_1 .card {
    min-width: 136px;
    height: 250px;

    margin: 0 7px;
}

.movie_bx_1 .card a {
    text-decoration: none;
    color: #fff;
}

.movie_bx_1 .card a div {
    height: 80%;
    overflow: hidden;
}

.movie_bx_1 .card a div img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.3s linear;
}

.movie_bx_1 .card a div img:hover {
    transform: scale(1.2);
}


.movie_bx_1 .card a .content {
    width: 100%;
    height: 15%;
    margin-top: 5px;
}

.movie_bx_1 .card a .content h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}

.movie_bx_1 .card a .content .metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie_bx_1 .card a .content .metadata span {
    color: rgb(255, 255, 255, 0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}

.movie_bx_1 .card a .content .metadata .rate {
    display: flex;
    align-items: center;
}

.movie_bx_1 .card a .content .metadata .rate .fas {
    margin-right: 7px;
    font-size: 9px;
    color: rgb(255, 255, 255, 0.5);
}

.movie_bx_1 .card a .content .metadata .rate .fas.fa-heart:hover {
    font-size: 11px;
    color: red;
    z-index: 999;
}


.movie_bx_1 .card a .content .metadata .rate .fas:nth-last-child(2) {
    color: yellow;
    margin: 1px;
}

.movie_bx_1 .card a .content .metadata .rate span {
    color: yellow;
    margin-top: -1px;
    font-size: 11px;
    height: 15px;
}

.movie_bx_1 button {
    position: absolute;
    border: none;
    outline: none;
    color: #fff;
    background: none;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

.movie_bx_1 button::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    left: -5px;
    top: -1px;
    z-index: -1;
    transition: 0.3s linear;
}

.movie_bx_1 button:hover::before {
    background: rgb(255, 0, 0, 0.5);
}

.movie_bx_1 button:nth-child(2) {
    left: 98%;
}

.movie_bx_1 button:nth-child(1) i {
    transform: rotate(90deg);
}

.movie_bx_1 button:nth-child(2) i {
    transform: rotate(-90deg);
}

.movie_bx_1 button:nth-child(2)::before {
    left: -7px;
    top: -1px;
}

/*  */
.movie_bx_2 {
    width: 90%;
    height: auto;
    margin: auto;
    overflow: unset;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    display: flex;
}

.movie_bx_2 .card {
    width: 136px;
    height: 250px;
    margin: 7px 3px;
}

.all,
.latest,
.year,
.letter,
.rate_change {
    width: 1900px;
    height: auto;
    overflow: unset;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.box2_actives {
    display: flex;
}


/*  */
.cato_bx2 {
    position: relative;
    overflow: visible;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.cato_bx2 .left_cato button:nth-child(1) {
    background: none;
}

.cato_bx2 .left_cato button i {
    margin-left: 10px;
    transition: 0.3s linear;
}

.cato_bx2 .left_cato button:nth-child(3),
button:nth-child(4) {
    padding: 4px 15px;
    position: relative;
}

.cato_bx2 .right_cato {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cato_bx2 .right_cato i {
    color: yellow;
    font-size: 13px;
    margin-right: 5px;
}

.cato_bx2 .right_cato input[type="range"] {
    appearance: none;
    background: red;
    border-radius: 20px;
    height: 7px;
}

.cato_bx2 .right_cato input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cato_bx2 .right_cato span {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}

.cato_bx2 button .year_bx {
    position: absolute;
    width: 80px;
    height: 150px;
    background: rgb(8, 8, 8, 0.7);
    border-radius: 10px 3px 3px 10px;
    top: 35px;
    left: 0;
    z-index: 999;
    overflow: auto;
    transition: 1s linear;
    display: none;
}

.cato_bx2 button .year_bx::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

.cato_bx2 button .year_bx::-webkit-scrollbar-track {
    background: rgb(184, 184, 184, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.cato_bx2 button .year_bx::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 20px;
}

.cato_bx2 button .year_bx div {
    list-style-type: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    color: #fff;
    transition: 0.3s linear;
}

.cato_bx2 button .year_bx div:hover {
    color: red;
}

.cato_bx2 button .letter_bx {
    width: 40px;
}

.cato_bx2 button .letter_bx div {
    font-size: 16px;
    font-weight: 600;
}

/* javascript classes start  */

.cato_bx2 .show_year1 .year_bx {
    display: unset;
}

.cato_bx2 .show_year1 i {
    transform: rotate(180deg);
}

.cato_bx2 .show_a_z1 .year_bx {
    display: unset;
}

.cato_bx2 .show_a_z1 i {
    transform: rotate(180deg);
}

.cato_bx2 button .year_bx .li_change {
    color: red;
}

/* Error page */

.starsBG {
    background: url(../img/stars.webp) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.starsBG .container {
    width: 1200px;
    margin: 0 auto;
}

.starsBG .container .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}

.starsBG .container .main2 {
    text-align: center;
}

.starsBG .container .main2 p {
    color: #fff;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    margin: -30px 0 30px;
    text-shadow: 0 1px 0 #8a6dd4, 0 2px 0 #8a6dd4, 0 3px 0 #8a6dd4, 0 4px 0 #8a6dd4, 0 5px 0 #8a6dd4, 0 6px 0 #8a6dd4,
    0 7px 0 #8a6dd4, 0 8px 0 #8a6dd4, 0 0 5px #8a6dd400, 0 -1px 3px #8a6dd445, 0 9px 9px #8a6dd452,
    0 12px 12px #8a6dd452, 0 15px 15px #8a6dd44d;
}

.starsBG .container .main2 button {
    padding: 6px 12px;
    border-radius: 20px;
    background: #614d94;
    border: 3px solid #614d94;
    color: #fff;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 3px 10px #614d94;
    transition: 0.3s linear;
    cursor: pointer;
    z-index: 999;
}

.starsBG .container .main2 button:hover {
    border: 3px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 10px #000;
}

.starsBG .container .main h2 {
    font-size: 250px;
    color: #fff;
    margin-left: 0;
    margin-right: 20px;
    text-shadow: 0 1px 0 #8a6dd4, 0 2px 0 #8a6dd4, 0 3px 0 #8a6dd4, 0 4px 0 #8a6dd4, 0 5px 0 #8a6dd4, 0 6px 0 #8a6dd4,
    0 7px 0 #8a6dd4, 0 8px 0 #8a6dd4, 0 0 5px #8a6dd400, 0 -1px 3px #8a6dd445, 0 9px 9px #8a6dd452,
    0 12px 12px #8a6dd452, 0 15px 15px #8a6dd44d;
}

.starsBG .container .main .saturn {
    width: 360px;
}

.ufo1 {
    position: absolute;
    top: 80px;
    z-index: 9;
    width: 90px;
    animation: ufo1 20s linear infinite;
}

@keyframes ufo1 {
    0% {
        margin-left: 1800px;
    }

    100% {
        margin-left: -1000px;
    }
}

.ufo2 {
    position: absolute;
    bottom: 80px;
    z-index: 9;
    width: 90px;
    animation: ufo2 20s linear infinite;
}

@keyframes ufo2 {
    0% {
        margin-left: -1400px;
    }

    100% {
        margin-left: 2000px;
    }
}

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.to-top:hover {
    background-color: red;
}


/* --------------------------------- */