* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    background: rgb(17, 16, 16);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 0 5%;
    background: rgb(54, 50, 50, 0.4);
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo img {
    width: 50%;
}

.navbar a {
    position: relative;
    font-weight: 500;
    margin-right: 3.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: 0.3s linear;
}

.navbar a:hover {
    color: #fff;
}

.navbar a.active::before {
    content: "";
    position: absolute;
    left: -5px;
    bottom: -13px;
    width: 120%;
    height: 3px;
    background-color: rgb(226, 8, 8);
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}

.search input {
    padding: 3px 0px 3px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    transition: 1s linear;
    transition: 1s linear;
    width: 0px;
}

.search i {
    color: rgb(255, 255, 255, 0.7);
    font-size: 17px;
    cursor: pointer;
    transition: 0.4s linear;
}

.search i:hover {
    color: #fff;
}

.search .search_bx2 {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 35px;
    left: -10px;
    background: rgb(184, 184, 184, 0.3);
    border-radius: 10px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
}

.search .search_bx2::-webkit-scrollbar {
    width: 7px;
    background: rgb(184, 184, 184, 0.3);
    border-radius: 20px;
}

.search .search_bx2::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184, 0.7);
    border-radius: 20px;
}

.search .search_bx2 a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
}

.search .search_bx2 a:hover {
    background: rgb(184, 184, 184, 0.6);
}

.search .search_bx2 a img {
    width: 30px;
    height: 45px;
    border-radius: 5px;
    margin: 0px 5px;
}

/*  */

.sub-menu-wrap {
    position: absolute;
    top: 45px;
    right: 4.5%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 280px;
}

.sub-menu {
    background: rgba(32, 32, 32, 0.9);
    padding: 20px;
    margin: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h2 {
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 255, 255, 0.7);
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(255, 255, 255, 0.1);
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
    margin: 10px 0;
}

.sub-menu-link p {
    font-size: 12px;
    width: 100%;
}

.sub-menu-link img {
    width: 35px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 12px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
    color: #fff;
}

/*  */

.search .search_bx2 a .content2 {
    color: #fff;
}

.search .search_bx2 a .content2 h6 {
    font-size: 13px;
}

.search .search_bx2 a .content2 p {
    color: rgb(255, 255, 255, 0.7);
    font-size: 11px;
    font-weight: 500;
}

/* javascript classes start  */

.search .search_input {
    width: 180px;
}

.bell {
    color: rgb(255, 255, 255, 0.7);
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s linear;
    margin: 0px 35px;
}

.bell:hover {
    color: #fff;
}

.user {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.tranding_bx {
    width: 90%;
    height: auto;
    border-bottom: 2px solid rgb(184, 184, 184, 0.1);
    margin: auto;
    padding: 9px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tranding_bx a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
    font-size: 13px;
    list-style: none;
}

.tranding_bx a:hover {
    color: #fff;
}

.tranding_bx i {
    padding: 0px 5px;
}

.tranding_bx .fas {
    margin-right: 15px;
}

/* tranding box active classes start  */

.tranding_bx .active {
    font-size: 17px;
    color: #fff;
}

/*movie*/
.movie_bx_1 {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.movie_bx_1::-webkit-scrollbar {
    display: none;
}

/* Category */
.movie_bx_1 .movie_bxx {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}

/* movies box js */

.movie_bx_1 .movie_box_active {
    display: none;
}


.movie_bx_1 .card {
    min-width: 136px;
    height: 250px;
    margin: 0px 7px;
}


.movie_bx_1 .card a {
    text-decoration: none;
    color: #fff;
}

.movie_bx_1 .card a img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
}

.movie_bx_1 .card a .content {
    width: 100%;
    height: 15%;
    margin-top: 5px;
}

.movie_bx_1 .card a .content h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}

.movie_bx_1 .card a .content .metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie_bx_1 .card a .content .metadata span {
    color: rgb(255, 255, 255, 0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}

.movie_bx_1 .card a .content .metadata .rate {
    display: flex;
    align-items: center;
}

.movie_bx_1 .card a .content .metadata .rate .fas {
    margin-right: 7px;
    font-size: 9px;
    color: rgb(255, 255, 255, 0.5);
}

.movie_bx_1 .card a .content .metadata .rate .fas:nth-last-child(2) {
    color: yellow;
    margin: 1px;
}

.movie_bx_1 .card a .content .metadata .rate span {
    color: yellow;
    margin-top: -1px;
    font-size: 11px;
    height: 15px;
}

/*  */
.movie_bx_2 {
    width: 90%;
    height: auto;
    margin: auto;
    overflow: unset;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.movie_bx_2 .card {
    width: 170px;
    height: 290px;
    margin: 7px 7px;
}