@charset "UTF-8";
/**  
    *! CNTRL+K after CNTRL+F редагування коду автоматичне 
    *! CNTRL+` вибірка классів з html коду
    *! Shift + Alt + ↓ / ↑ копіювати стрічку
    *! Ctrl + Shift + \  перейти до парної стрічки
    *! Ctrl + Shift + число ставить маркер
    *! Ctrl + K + Ctrl + t select color theme
    *! Shift + Alt +2 life server preview
    *! Ctrl +Alt + 2
	 *!Ctrl +Alt + ↓ / ↑ + писати одночасно в різних строчках
	 *!For translate text = Select area +Shift + Alt + T
*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #050505;
}

.cube {
	position: relative;
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	transform: rotateX(-25deg) rotateY(50deg);
}
.cube div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
.cube div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
	background: url(/public/img/Rectangle\ 53.png);
}

.first div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
	background: url(/public/img/Rectangle.png);
}
.first .top::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: rgb(26, 44, 52);
	transform: translateZ(-190px);
	filter: blur(20px);
	box-shadow: 0 0 120px rgba(0, 204, 255, 0.2), 0 0 200px rgba(0, 229, 255, 0.4), 0 0 300px rgba(0, 213, 255, 0.5),
		0 0 400px rgba(0, 221, 255, 0.6), 0 0 500px rgba(0, 217, 255, 0.7);
}

.tree div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
	background: url(/public/img/del.png);
}

.four div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
	background: url(/public/img/VR.png);
}

.five div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
	background: url(/public/img/random.png);
}

.second div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
	background: url(/public/img/clown.png);
}
.second .top::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: rgb(26, 44, 52);
	transform: translateZ(-190px);
	filter: blur(20px);
	box-shadow: 0 0 120px rgba(0, 204, 255, 0.2), 0 0 200px rgba(0, 229, 255, 0.4), 0 0 300px rgba(0, 213, 255, 0.5),
		0 0 400px rgba(0, 221, 255, 0.6), 0 0 500px rgba(0, 217, 255, 0.7);
}

.topfirst {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/Rectangle.png);
}

.bottomfirst {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/Rectangle.png);
}

.topfirst.top {
	transform: rotateX(90deg) translateZ(75px);
}

.bottomfirst.top {
	transform: rotateX(90deg) translateZ(75px);
}

.topsecond {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/clown.png);
}

.bottomsecond {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/clown.png);
}

.topsecond.top {
	transform: rotateX(90deg) translateZ(75px);
}

.bottomsecond.top {
	transform: rotateX(90deg) translateZ(75px);
}

.toptree {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/del.png);
}

.bottomtree {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/del.png);
}

.toptree.top {
	transform: rotateX(90deg) translateZ(75px);
}

.bottomtree.top {
	transform: rotateX(90deg) translateZ(75px);
}

.topfour {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/VR.png);
}

.bottomfour {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/VR.png);
}

.topfour.top {
	transform: rotateX(90deg) translateZ(75px);
}

.bottomfour.top {
	transform: rotateX(90deg) translateZ(75px);
}

.topfive {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/random.png);
}

.bottomfive {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/random.png);
}

.topfive.top {
	transform: rotateX(90deg) translateZ(75px);
}

.bottomfive.top {
	transform: rotateX(90deg) translateZ(75px);
}

.topsix {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/Rectangle\ 53.png);
}

.bottomsix {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(/public/img/Rectangle\ 53.png);
}

.topsix.top {
	transform: rotateX(90deg) translateZ(75px);
}

.bottomsix.top {
	transform: rotateX(90deg) translateZ(75px);
}

.top {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
}
.top::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: rgb(26, 44, 52);
	transform: translateZ(-190px);
	filter: blur(20px);
	box-shadow: 0 0 120px rgba(0, 204, 255, 0.2), 0 0 200px rgba(0, 229, 255, 0.4), 0 0 300px rgba(0, 213, 255, 0.5),
		0 0 400px rgba(0, 221, 255, 0.6), 0 0 500px rgba(0, 217, 255, 0.7);
}

.bottom {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
}

.top.top {
	transform: rotateX(90deg) translateZ(75px);
}

.bottom.top {
	transform: rotateX(90deg) translateZ(75px);
}

.top.bottom {
	transform: rotateX(90deg) translateZ(-75px);
}

.bottom.bottom {
	transform: rotateX(90deg) translateZ(-75px);
}

.three .top::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: rgb(26, 44, 52);
	transform: translateZ(-190px);
	filter: blur(20px);
	box-shadow: 0 0 120px rgba(0, 204, 255, 0.2), 0 0 200px rgba(0, 229, 255, 0.4), 0 0 300px rgba(0, 213, 255, 0.5),
		0 0 400px rgba(0, 221, 255, 0.6), 0 0 500px rgba(0, 217, 255, 0.7);
}

.cube.first {
	top: 0px;
	left: 1050px;
}

.cube.second {
	top: 0px;
	right: 500px;
}

.cube.tree {
	top: 250px;
	right: 460px;
}

.cube.four {
	top: -250px;
	right: 600px;
}

.cube.five {
	top: -250px;
	left: 300px;
}

.cube.six {
	top: 250px;
	left: 160px;
}

.bodyLog {
	position: absolute;
	width: 511px;
	height: 616px;
	background: #212226;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 18px 18px;
	border-radius: 10px;
}

.text {
	width: 74px;
	height: 19px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #c7c7c7;
}

.AutoLayout {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	margin: 40px 0 0 84px;
	position: absolute;
	width: 343px;
	height: 419px;
}

.head {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 7px 0px;
	width: 343px;
	height: 58px;
	border-radius: 10px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.h1 {
	width: 199px;
	height: 31px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 31px;
	color: #169c89;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.getStart {
	width: 200px;
	height: 22px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #999999;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.setDiv {
	margin: 10px 0px;
}
.setDiv .inputDivName {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	padding: 7px 5px;
	gap: 10px;
	width: 343px;
	height: 58px;
	background: #f8f8f8;
	border: 2px solid #dddddd;
	border-radius: 10px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

input {
	background: transparent;
}

.input {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 320px;
	height: 33px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	background: #f8f8f8;
}

.inputDivName {
	width: 45px;
	height: 19px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #c7c7c7;
	flex: none;
	flex-wrap: wrap;
	order: 1;
	flex-grow: 0;
}

.inputDivEmail {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 7px 5px;
	gap: 10px;
	width: 343px;
	height: 58px;
	background: #f8f8f8;
	border: 2px solid #dddddd;
	border-radius: 10px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.inputDivPassworld {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 7px 5px;
	gap: 10px;
	width: 343px;
	height: 58px;
	background: #f8f8f8;
	border: 2px solid #dddddd;
	border-radius: 10px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

.inputDivConfirmPassworld {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 7px 5px;
	gap: 10px;
	width: 343px;
	height: 58px;
	background: #f8f8f8;
	border: 2px solid #dddddd;
	border-radius: 10px;
	flex: none;
	order: 3;
	flex-grow: 0;
}

.Register {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 7px 5px;
	gap: 10px;
	position: absolute;
	width: 343px;
	height: 58px;
	bottom: -30px;
	background: #169c89;
	border-radius: 10px;
}

.Alredy {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 0px;
	gap: 10px;
	position: absolute;
	width: 509px;
	height: 59px;
	left: -82px;
	bottom: -170px;
	background: #e8f3f2;
	border-radius: 0px 0px 10px 10px;
}

.Alr {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #999999;
}

.Reg {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	order: 0;
}

a {
	color: #169c89;
}
a:hover {
	color: red;
}

.input-field {
	width: 290px;
	height: 40px;
	border: none;
	border-radius: 50px;
	padding-left: 40px;
	font-size: 16px;
	background-repeat: no-repeat;
	background-position: left center;
	background-position-x: 10px;
	background-size: 20px;
}

.input-field.name {
	background-image: url("/public/img/icons8-male-user-50.svg");
}

.input-field.email {
	background-image: url("/public/img/icons8-email-64.svg");
}

.input-field.password {
	background-image: url("/public/img/icons8-lock-50.svg");
}

.hide {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 22px;
	height: 40px;
	border: none;
	border-radius: 50px;
	background-repeat: no-repeat;
	background-position: left center;
	background-position-x: 10px;
	background-size: 20px 20px;
}
